<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h1 class="panel-title">User Information</h1>
            </div>
            <div class="panel-body text-center">
                <form name="user-form">
                    <div class="col-md-12 login-adj">
                        <label for="firstName">Username   <input id="firstName" ng-model="username"
                                                              class="pull-right login-adj-2"></label>

                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-primary btn-lg" ng-click="login(username)">LOG IN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

